:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --ff-spartan: 'Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--ff-spartan);
    font-size: .9375rem;
    background-color: var(--white);
    padding: 5rem 1rem;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.container {
    gap: 4rem;
}

.container__top {
    gap: 2rem;
}

.top__text {
    text-align: center;
    gap: 1.5rem;
}

.text--title {
    max-width: 30rem;
    width: 100%;
    font-size: 2rem;
    line-height: 1;
    color: var(--very-dark-magenta);
    margin: auto;
}

.text--subtitle {
    max-width: 30rem;
    width: 100%;
    line-height: 1.5;
    color: var(--dark-grayish-magenta);
    margin: auto;
}

.top__ratings {
    gap: 1.5rem;
}

.ratings__block {
    max-width: 28rem;
    width: 100%;
    background-color: var(--light-grayish-magenta);
    border-radius: 5px;
    padding: 1rem 0;
    margin: auto;
}

.block__stars {
    gap: 0.5rem;
}

.block__description {
    font-size: .875rem;
    font-weight: 700;
    color: var(--very-dark-magenta);
    margin-top: 1rem;
}

.container__bottom {
    gap: 1rem;
}

.reviews__block {
    max-width: 28rem;
    width: 100%;
    background-color: var(--very-dark-magenta);
    border-radius: 5px;
    margin: auto;
}

.block__user {
    padding: 3rem 0 1.5rem 2rem;
    gap: 1.5rem;
}

.avatar--image {
    width: 45px;
    height: auto;
    border-radius: 50%;
}

.information--name {
    font-weight: 500;
    color: var(--white);
    margin-bottom: 0.2rem;
}

.information--verification {
    color: var(--soft-pink);
}

.block__opinion {
    padding: 0 2rem 2rem 2rem;
}

.opinion--text {
    font-size: 13.5px;
    line-height: 1.7;
    color: var(--white);
}

/* Responsive */
/* 910px and above */
@media (min-width: 56.875rem) {
    body {
        padding: 5rem 3rem;
    }

    .container__top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        flex: 1;
    }

    .top__text {
        text-align: left;
        gap: 1rem;
    }

    .text--title {
        font-size: 3rem;
    }

    .text--subtitle {
        max-width: 25rem;
        margin: 0;
    }

    .ratings__block {
        min-width: 400px;
        width: 100%;
        padding: 1rem 0;
    }

    .rating-1 {
        margin-left: -4rem;
    }

    .rating-2 {
        margin-left: -2rem;
    }

    .container__bottom {
        flex-direction: row;
    }

    .review-2 {
        margin: 0;
    }
}

/* 1100px and above */
@media (min-width: 68.75rem) {
    .ratings__block {
        flex-direction: row;
        gap: 1rem;
    }

    .block__description {
        margin-top: 0;
        margin-bottom: -0.3rem;
    }
}

/* 1200px and above */
@media (min-width: 75rem) {
    body {
        padding: 7rem 7rem;
    }
}

/* 1440px and above */
@media (min-width: 90rem) {
    body {
        padding: 8rem 8rem;
        overflow-y: hidden;
    }
    
    .text--subtitle {
        max-width: 30rem;
        width: 100%;
    }

    .ratings__block {
        min-width: 450px;
        gap: 2rem;
        padding: 1.5rem 0;
    }

    .container__bottom {
        overflow-y: visible;
        gap: 2rem;
    }

    .review-2 {
        margin-top: 2rem;
    }

    .review-3 {
        overflow-y: visible;
        margin-bottom: -1rem;   
    }
}